*{
  font-family: sans-serif;
  margin: 0px;
}

body {
  background-color: #c5b9da;
  background-image: url('assets/breakthroughSTEM.png');
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2B0079;
  color: white;
  width: 100%;
  height: 66px;
  font-size: 20px;
  height: 4rem;
  top: 0;
  position: fixed;
}


/* NAV BAR */
a{
  text-decoration: none;
  color: white;
}
nav{
  display: flex;
  flex-direction: row;
  background-color: #512E91;
  width: 100%;
  color: white;
  position: fixed;
  top: 4rem;
}

.home, .scientificMethod, .noteTaker, .hallOfFame, .stemResources, .stemNews, .classroomHighlights, .funLinks, .theArchives {
  width: 11.11%;
  text-align: center;
  align-items: center;
}

.noteTaker{
  background-color: #2B0079;
}

.home, .stemNews{
  background-color: #F8AA1A;
}

.scientificMethod, .classroomHighlights {
  background-color: #07A5C8;
}

.hallOfFame, .funLinks {
  background-color: #179848;
}

.stemResources, .theArchives {
  background-color: #964B9D;
}
/* END NAV BAR */

.step-one-notes{
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7rem;
  border: solid 3px #2B0079;
  border-radius: 10px;
  width: 66%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.myNotes{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 2%;
}
#inputOne{
  border: white;
  padding: 1%;
  border-radius: 10px;
  font-size: 15px;
}
#add{
  width: 33%;
  margin: auto;
  justify-content: center;
  background-color: #2B0079;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}
#notesOne{
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color: white;
  border-radius: 10px;
  padding: 2%;
}

@media print {
  body * {
    visibility: hidden;
  }
  #notesOne, #notesOne * {
    visibility: visible;
  }
  #notesOne {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.footer{
  margin-top: 0px;
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
  background-color: #2B0079;
  color: white;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
}

.footer:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
