*{
  font-family: sans-serif;
  margin: 0px;
}

body {
  background-color: #c5b9da;
  background-image: url('assets/breakthroughSTEM.png');
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2B0079;
  color: white;
  width: 100%;
  height: 66px;
  font-size: 20px;
  height: 4rem;
  position: fixed;
  top: 0;
}

.buttons{
  display: flex;
  flex-direction: column;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  text-align: center;
  width: 33%;
  margin-top: 60px;
  height: auto;
}

.scientificMethod{
  background-color: #F8AA1A;
  text-align: center;
  border-radius: 15px;
  color: white;
  margin: 2%;
  text-decoration: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #2B0079;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.scientificMethod:hover {
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
}

.noteTaker{
  background-color: #07A5C8;
  text-align: center;
  border-radius: 15px;
  color: white;
  margin: 2%;
  text-decoration: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #2B0079;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.noteTaker:hover {
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
}

.hallOfFame{
  background-color: #179848;
  text-align: center;
  border-radius: 15px;
  color: white;
  margin: 2%;
  text-decoration: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #2B0079;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hallOfFame:hover {
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
}

.stemResources{
  background-color: #964B9D;
  text-align: center;
  border-radius: 15px;
  color: white;
  margin: 2%;
  text-decoration: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #2B0079;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stemResources:hover {
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
}

.stemNews{
  background-color: #F8AA1A;
  text-align: center;
  border-radius: 15px;
  color: white;
  margin: 2%;
  text-decoration: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #2B0079;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.stemNews:hover {
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
}

.classroomHighlights{
  background-color: #07A5C8;
  text-align: center;
  border-radius: 15px;
  color: white;
  margin: 2%;
  text-decoration: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #2B0079;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.classroomHighlights:hover {
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
}

.funLinks{
  background-color: #179848;
  text-align: center;
  border-radius: 15px;
  color: white;
  margin: 2%;
  text-decoration: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #2B0079;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.funLinks:hover {
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
}

.theArchives{
  background-color: #964B9D;
  text-align: center;
  border-radius: 15px;
  color: white;
  margin: 2%;
  text-decoration: none;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px #2B0079;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.theArchives:hover {
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
}

.footer{
  margin-top: 0px;
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
  background-color: #2B0079;
  color: white;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
}

.footer:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
